.wrapper {
  overflow: hidden;
}

.fill-left {
  position: relative;
  @include media($sm-up) {
    padding-left: 0 !important;
  }
  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 2000px;
    right: 100%;
    top: 0;
    background-color: inherit;
    @include media($xs) {
      display: none;
    }
  }
}

.fill-right {
  position: relative;
  @include media($sm-up) {
    padding-right: 0 !important;
  }
  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 2000px;
    left: 100%;
    top: 0;
    background-color: inherit;
    @include media($xs) {
      display: none;
    }
  }
}

.parallax {
  background-position: 50% 0;
  background-repeat: no-repeat;
  // height: 450px;
  position: relative;
  // background-attachment: fixed;
}

.no-touch .parallax{
  background-attachment: fixed;
}

.shadow {
  box-shadow: $shadow-lvl-2;
}

.shadow-1 {
  box-shadow: $shadow-lvl-1;
}

.shadow-2 {
  box-shadow: $shadow-lvl-2;
}

.shadow-3 {
  box-shadow: $shadow-lvl-3;
}

.shadow-4 {
  box-shadow: $shadow-lvl-4;
}

.shadow-5 {
  box-shadow: $shadow-lvl-5;
}

.border-radius {
  border-radius: $base-border-radius;
}

.no-text-margin {
  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}
