.wrapper {
  overflow: hidden;
}

.fill-left {
  position: relative;
  @include media($sm-up) {
    padding-left: 0 !important;
  }
  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 2000px;
    right: 100%;
    top: 0;
    background-color: inherit;
    @include media($xs) {
      display: none;
    }
  }
}

.fill-right {
  position: relative;
  @include media($sm-up) {
    padding-right: 0 !important;
  }
  &:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 2000px;
    left: 100%;
    top: 0;
    background-color: inherit;
    @include media($xs) {
      display: none;
    }
  }
}

.parallax {
  background-position: 50% 0;
  background-repeat: no-repeat;
  // height: 450px;
  position: relative;
  // background-attachment: fixed;
}

.no-touch .parallax{
  background-attachment: fixed;
}

.thumbnail {
  border-radius: 8px;
  box-shadow: $shadow-lvl-1;
  border: 5px solid #f3f3f3;
}

.transparent-background {
  position: relative;
  z-index: 1;
  &:after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: inherit;
    opacity: .75;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
