// Star rating
.star-rating {
  position: relative;
  overflow: hidden;
  width: em(76);
  height: 1rem;
  font-size: 1rem;
  font-family: FontAwesome;
  line-height: 1rem;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    color: $grey-light;
    content: '\f005\f005\f005\f005\f005';
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 1.5rem;
  }

  span:before {
    position: absolute;
    top: 0;
    left: 0;
    color: $alert-color;
    content: '\f005\f005\f005\f005\f005';
  }
}

.woocommerce-product-rating {
  display: block;
  line-height: 2rem;

  .star-rating {
    margin: .5em 4px 0 0;
  }
}

.products {
  .star-rating {
    display: block;
    float: none;
    margin: 0 0 .5rem;
  }
}

.hreview-aggregate {
  .star-rating {
    margin: 10px 0 0;
  }
}

.comment-form-rating {
  a {
    margin-right: 10px;
    width: 120px;
    position: relative;
    text-align: left;
    font-weight: 700;
    color: $brand-color-1;
    &:last-child {
      margin-right: 0;
    }
    @include btn($brand-color-1, #fff, true);
    border: 3px solid #e5e5e5;
    &:hover {
      border: 3px solid #f1f1f1;
    }
    &:hover:after {
      color: $alert-color;
    }
    &:after {
      color: #e5e5e5;
      display: inline-block;
      right: 8px;
      top: 11px;
      position: absolute;
      font: normal normal normal 14px/1 FontAwesome;
      @include transition(all .2s ease-in-out);
    }
    @include transition(all .2s ease-in-out);
    &.active {
      border: 3px solid $brand-color-1;
      &:after {

        color: $alert-color;
      }
    }
  }
  .star-1 {
    &:after {
      content: "\f005";
    }
  }
  .star-2 {
    &:after {
      content: "\f005\f005";
    }
  }
  .star-3 {
    &:after {
      content: "\f005\f005\f005";
    }
  }
  .star-4 {
    &:after {
      content: "\f005\f005\f005\f005";
    }
  }
  .star-5 {
    &:after {
      content: "\f005\f005\f005\f005\f005";
    }
  }
}
