.star-rating,
p.stars a {
    font-weight: 400;
    height: 1em;
}

.star-rating {
    span:before {
        content: '\f005\f005\f005\f005\f005';
        top: 0;
        left: 0;
    }

    &:before {
        content: '\f005\f005\f005\f005\f005';
        top: 0;
        left: 0;
        opacity: 0.25;
        float: left;
        position: absolute;
    }
    overflow: hidden;
    position: relative;
    line-height: 1;
    font-size: 1em;
    width: 5.3em;
    font-family: 'fontawesome';

    span {
        overflow: hidden;
        float: left;
        top: 0;
        left: 0;
        position: absolute;
        padding-top: 1.5em;

        &:before {
            position: absolute;
            color: #2c2d33;
        }
    }
}

p.stars {
    a {
        &:before,
        &:hover ~ a:before {
            color: #43454b;
            opacity: 0.25;
            content: 'S';
        }
        position: relative;
        width: 1em;
        text-indent: -999em;
        margin-right: 0.5em;
        color: rgba(#000,0);

        &:before {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 1em;
            height: 1em;
            line-height: 1;
            font-family: 'fontawesome';
            text-indent: 0;
        }
    }
    margin: 0;

    &.selected a.active:before,
    &:hover a:before {
        content: '\53';
        color: $brand-color-1;
        opacity: 1;
    }

    &.selected a {
        &.active ~ a:before {
            content: '\53';
            color: #43454b;
            opacity: 0.25;
        }

        &:not(.active):before {
            content: '\53';
            color: $brand-color-1;
            opacity: 1;
        }
    }
}
