.woocommerce-message,
.woocommerce-info {
  @extend %flash-success;

  .button.wc-forward {
    @extend %btn;
    @extend %btn-default;
    @extend %btn-brand;

    float: right;
    display: inline-block;
    margin-top: -5px;

    &:after {
      content: '\f061';
      margin-left: 5px;
      font: normal normal normal 14px/1 FontAwesome;
    }
  }
}

.woocommerce-error {
  @extend %flash-error;
  list-style-type: none;
}
