@mixin flash($color) {
  background: $color;
  color: darken($color, 60);

  a {
    color: darken($color, 70);

    &:hover {
      color: darken($color, 90);
    }
  }
}

%flash-base {
  font-weight: bold;
  margin-bottom: $gutter / 2;
  padding: $gutter / 2;
  border-radius: $base-border-radius;
}

%flash-alert {
  @extend %flash-base;
  @include flash($alert-color);
}

%flash-error {
  @extend %flash-base;
  @include flash($error-color);
}

%flash-notice {
  @extend %flash-base;
  @include flash($notice-color);
}

%flash-success {
  @extend %flash-base;
  @include flash($success-color);
}


.woocommerce-message,
.woocommerce-info {
  @extend %flash-success;

  .button.wc-forward {
    @extend %button;
    border-radius: $base-border-radius;
    background: $brand-primary;
    float: right;
    display: inline-block;
    margin-top: -5px;

    &:after {
      content: '\f061';
      margin-left: 5px;
      font: normal normal normal 14px/1 FontAwesome;
    }
  }
}
