.widget_price_filter {
  .price_slider {
    margin-bottom: 1em;
    border-radius: 4px;
    background: $grey-lighter;
  }

  .price_slider_amount {
    text-align: right;
    line-height: 2.4em;

    .button {
      float: left;
    }
  }

  .ui-slider {
    position: relative;
    text-align: left;

    .ui-slider-handle {
      position: absolute;
      top: -.3em;
      z-index: 2;
      width: 1rem;
      height: 1rem;
      outline: none;
      border-radius: 50%;
      background: $brand-color-1;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
      cursor: pointer;

      &:last-child {
        margin-left: -1em;
      }
    }

    .ui-slider-range {
      position: absolute;
      z-index: 1;
      display: block;
      border: 0;
      border-radius: 4px;
      background: tint($brand-color-1, 20%);
      font-size: .7em;
    }
  }

  .ui-slider-horizontal {
    height: .5em;

    .ui-slider-range {
      top: 0;
      height: 100%;
    }

    .ui-slider-range-min {
      left: -1px;
    }

    .ui-slider-range-max {
      right: -1px;
    }
  }
}
