// buttons.scss

// EXAMPLE:
// name: ($button-primary-color, $button-secondary-color, $button-hover-color, $button-active-color, $button-focus-color, $colorContrast),
$button-colors: (
  brand: ($brand-color-1, #fff, true),
  error: ($error-color, #fff, true),
  alert: ($alert-color, #fff, true),
  success: ($success-color, #fff, true),
);

@each $name, $colors in $button-colors {
  $button-primary-color: nth($colors, 1);
  $button-secondary-color: nth($colors, 2);
  $raised: nth($colors, 2);

  .btn-#{$name} {
    @include btn($button-primary-color, $button-secondary-color, $raised);
  }
}

%btn {
  @include btn($brand-color-1, #fff, true);
}

%btn-brand {
  @include btn($brand-color-1, #fff, true);
}

%btn-subtle {
  @include btn($brand-color-1, #fff, true);
}
