// buttons.scss

// EXAMPLE:
// name: ($button-primary-color, $button-secondary-color, $button-hover-color, $button-active-color, $button-focus-color, $colorContrast),
$button-colors: (
  brand: ($brand-color-1, #fff),
  error: ($error-color, #fff),
  alert: ($alert-color, #fff),
  success: ($success-color, #fff),
);

@each $name, $colors in $button-colors {
  $button-primary-color: nth($colors, 1);
  $button-secondary-color: nth($colors, 2);

  .btn-#{$name} {
    @extend %button-base;
    @extend %button-raised;
    background-color: $button-primary-color;
    color: $button-secondary-color;
    &:hover {
      background-color: shade($button-primary-color, 20%);
    }
  }
}

.mini-nav {
  display: flex;
  justify-content: flex-end;
  margin: -0.5em;
  flex-wrap: wrap;
  .btn {
    margin: .5em;
  }
  &.justify-left {
    justify-content: flex-start;
  }
  &.justify-right {
    justify-content: flex-end;
  }
  &.justify-stretch {
    justify-content: space-between;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-even {
    justify-content: space-around;
  }
}

$buttonicons: fileicon !default; // types = fileicon, cloud, disc, none

@if $buttonicons == fileicon {
  $button-icons: (
    pdf: ("\f1c1"),
    zip: ("\f1c6"),
    wav: ("\f1c7"),
    mp3: ("\f1c7"),
    mov: ("\f1c8"),
    avi: ("\f1c8"),
    mpg: ("\f1c8"),
    ogg: ("\f1c8"),
    mp4: ("\f1c8"),
    doc: ("\f1c2"),
    docx: ("\f1c2"),
    csv: ("\f1c3"),
    xls: ("\f1c3"),
    xlsx: ("\f1c3"),
    jpg: ("\f1c5"),
    jpeg: ("\f1c5"),
    png: ("\f1c5"),
    gif: ("\f1c5"),
    svg: ("\f1c5"),
    ppt: ("\f1c4"),
    pptx: ("\f1c4"),
  );

  @each $extenssion, $unicode in $button-icons {
    .btn[href$="#{$extenssion}"] {
      &:before {
        content: "#{$unicode}";
        font: normal normal normal 14px/1 FontAwesome;
        margin-right: .5em;
      }
    }
  }
} @else if $buttonicons == cloud {
  $button-icons: (
    pdf: ("\f0ed"),
    zip: ("\f0ed"),
    wav: ("\f0ed"),
    mp3: ("\f0ed"),
    mov: ("\f0ed"),
    avi: ("\f0ed"),
    mpg: ("\f0ed"),
    ogg: ("\f0ed"),
    mp4: ("\f0ed"),
    doc: ("\f0ed"),
    docx: ("\f0ed"),
    csv: ("\f0ed"),
    xls: ("\f0ed"),
    xlsx: ("\f0ed"),
    jpg: ("\f0ed"),
    jpeg: ("\f0ed"),
    png: ("\f0ed"),
    gif: ("\f0ed"),
    svg: ("\f0ed"),
    ppt: ("\f0ed"),
    pptx: ("\f0ed"),
  );

  @each $extenssion, $unicode in $button-icons {
    .btn[href$="#{$extenssion}"] {
      &:before {
        content: "#{$unicode}";
        font: normal normal normal 14px/1 FontAwesome;
        margin-right: .5em;
      }
    }
  }
} @else if $buttonicons == disc {
  $button-icons: (
    pdf: ("\f019"),
    zip: ("\f019"),
    wav: ("\f019"),
    mp3: ("\f019"),
    mov: ("\f019"),
    avi: ("\f019"),
    mpg: ("\f019"),
    ogg: ("\f019"),
    mp4: ("\f019"),
    doc: ("\f019"),
    docx: ("\f019"),
    csv: ("\f019"),
    xls: ("\f019"),
    xlsx: ("\f019"),
    jpg: ("\f019"),
    jpeg: ("\f019"),
    png: ("\f019"),
    gif: ("\f019"),
    svg: ("\f019"),
    ppt: ("\f019"),
    pptx: ("\f019"),
  );

  @each $extenssion, $unicode in $button-icons {
    .btn[href$="#{$extenssion}"] {
      &:before {
        content: "#{$unicode}";
        font: normal normal normal 14px/1 FontAwesome;
        margin-right: .5em;
      }
    }
  }
}
