.desktop-navigation-container {
  @include secondthought-container;
}

%top-lvl-link {
  position: relative;
  float: left;

  > a {
    padding: 20px 15px;
    color: #fff;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 700;
    display: block;

    &:hover {
      background: shade($brand-color-2, 10%);
    }
  }
}

.desktop-navigation {
  // @include span-columns(9);
  float: left;
  @include media($navigation-breakpoint-up) {
    display: block;
  }
  @include media($navigation-breakpoint-down) {
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    &.sub-menu {
      display: none;

      &.visible {
        position: absolute;
        z-index: 10000;
        display: block;
        margin-top: 0;
        padding: 10px 0;
        background: #fff;

        // &:before {
        //   content: '';
        //   @include triangle(12px, #fff, up);
        //   position: absolute;
        //   top: -6px;
        //   left: 8px;
        // }
      }

      li {
        &:hover {
          background: $grey-lightest;
        }

        a {
          display: block;
          padding: 5px 15px;
          color: $base-font-color;
          white-space: nowrap;
          font-size: 14px;
        }
      }
    }
  }

  #navigation-menu {
    float: right;

    > li {
      @extend %top-lvl-link;
    }
  }
}

.nav_bottom {
  width: 100%;
  height: auto;
  display: block;
  float: left;
  // background: green;
  .desktop-navigation {
    @include secondthought-container;
    padding: 0;
    float: none;
  }
}
