.desktop-navigation-container {
  @include fixed-container;
}

%top-lvl-link {
  float: left;
  position: relative;

  > a {
    padding: 18px 15px 20px;
    color: #fff;
    font-size: 16px;
    display: block;
    text-transform: uppercase;
    &:hover {
      background: shade($brand-primary, 10%);
    }
  }
}

.desktop-navigation {
  @include span-columns(12);
  display: none;

  @include media($navigation-breakpoint) {
    display: block;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    &.sub-menu {
      display: none;

      &.visible {
        display: block;
        position: absolute;
        margin-top: 0;
        background: #fff;
        padding: 10px 0;
        z-index: 10000;

        // &:before {
        //   content: '';
        //   @include triangle(12px, #fff, up);
        //   position: absolute;
        //   top: -6px;
        //   left: 8px;
        // }
      }

      li {

        &:hover {
          background: $light-gray-1-color;
        }

        a {
          display: block;
          font-size: 14px;
          padding: 5px 15px;
          white-space: nowrap;
          color: $base-font-color;
        }
        &.menu-item-has-children {
          position: relative;
          ul {
            position: absolute;
            left: 100%;
            top: -10px;
            margin: 0;
            white-space: nowrap;
            &:before {
              content: none;
            }
          }
        }
      }
    }
  }

  #navigation-menu {
    float: right;

    > li {
      @extend %top-lvl-link;
    }
  }
}
