.desktop-navigation-container {
  @include fixed-container;
}

%top-lvl-link {
  float: left;
  position: relative;

  > a {
    padding: 20px 15px;
    color: $base-font-color;
    font-size: 16px;
    &:hover {
      background: #fafafa;
    }
  }
}

.desktop-navigation {
  @include span-columns(9);
  display: none;

  @include media($navigation-breakpoint) {
    display: block;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    &.sub-menu {
      display: none;

      &.visible {
        display: block;
        position: absolute;
        margin-top: 16px;
        background: #fff;
        padding: 10px 0;
        z-index: 10000;

        // &:before {
        //   content: '';
        //   @include triangle(12px, #fff, up);
        //   position: absolute;
        //   top: -6px;
        //   left: 8px;
        // }
      }

      li {

        &:hover {
          background: $grey-lightest;
        }

        a {
          display: block;
          font-size: 14px;
          padding: 5px 15px;
          white-space: nowrap;
          color: $base-font-color;
        }
      }
    }
  }

  #navigation-menu {
    float: right;

    > li {
      @extend %top-lvl-link;
    }
  }
}
