.desktop-navigation-container {
  @include fixed-container;
}

%top-lvl-link {
  float: left;
  padding: 0 10px;

  a {
    color: $base-font-color;
    font-size: 16px;
  }
}

.desktop-navigation {
  @include span-columns(9);
  display: none;

  @include media($navigation-breakpoint) {
    display: block;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    &.sub-menu {
      display: none;

      &.visible {
        display: block;
        position: absolute;
        margin-top: 10px;
        background: #fff;
        padding: 10px 0;
        z-index: 10000;
        border-radius: 3px;

        &:before {
          content: '';
          @include triangle(12px, #fff, up);
          position: absolute;
          top: -6px;
          left: 8px;
        }
      }

      li {

        &:hover {
          background: $light-gray-1-color;
        }

        a {
          display: block;
          font-size: 14px;
          padding: 5px 15px;
        }
      }
    }
  }

  #navigation-menu {
    float: right;

    > li {
      @extend %top-lvl-link;
    }
  }
}
