.secondthought-feature-item {
  a {
    display: block;

    img {
      display: block;
      width: 100%;
      margin-bottom: $gutter;
    }

    .secondthought-feature-caption {
      h4 {
        font-size: rem(22);
        margin: 0 0 $gutter/2 0;
      }

      p {
        color: $base-font-color;
      }
    }
  }
}
