.footer-widgets {
  @include secondthought-container;
  @include pad(0 $gutter/2);
}

.footer-address-wrapper {
  background-color: $brand-color-1;
}

.footer-address {
  @include secondthought-container;
  @include pad($gutter/2);
  max-width: 770px;
  display: flex;
  justify-content: space-around;
  @media (max-width:720px) {
    flex-direction: column;
  }
  span {
    color: #fff;
    a {
      color: #fff;
    }
    flex: 0 0 auto;
  }
}
