.footer-container {
  background-color: $brand-color-1;
  margin-top: $gutter;
}

.footer {
  @include secondthought-container;
  @include pad($gutter $gutter/2);

  img {
    @include media($lg) {
      @extend %span-2;
    }

    @include media($md) {
      @extend %span-4;
    }

    @include media($sm) {
      @extend %span-4;
    }

    @include media($xs) {
      @extend %span-6;
      @include shift(3);
    }
  }

  .footer-address {
    color: #fff;

    @include media($lg) {
      text-align: center;

      @extend %span-12;
    }

    @include media($md) {
      text-align: center;

      @extend %span-12;
    }

    @include media($sm) {
      text-align: center;

      @extend %span-12;
    }

    @include media($xs) {
      margin-top: $gutter;
      text-align: center;

      @extend %span-12;
    }

    a {
      color: #fff;
    }

    .firmanavn {
      font-weight: 700;
    }

    hr {
      @include media($lg) {
        display: inline-block;
        width: $gutter/2;
        border: 0;
      }

      @include media($md-down) {
        display: block;
        border: 0;
      }
    }
  }
}
