body .gallery {
  img {
    display: block;
    width: 100%;
  }

  a {
    display: block;
  }

  br {
    display: none;
  }

  margin-right: -($gutter/2);
  margin-left: -($gutter/2);
  float: left;
  clear: both;

  @for $i from 1 through 9 {
    &.gallery-columns-#{$i} {
      $width: 100/$i;
      .gallery-item {
        float: left;
        margin: 0 $gutter/2 $gutter;

        @include media($sm-up) {
          width: calc(#{$width}% - #{$gutter});
        }
        @include media($xs) {
          width: calc(50% - #{$gutter});
        }
        a {
          transition: transform .2s $curve;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}
