.header {
  background: #fff;
  border-bottom: 1px solid #fafafa;
  @include shadow-2dp();
  position: relative;
  z-index: 1000;
}
.header-inner {
  @include secondthought-container;
  @include pad(0 $gutter/2);
  .logo {
    padding-top: 18px;
    @include media($xs) {
      @include span-columns(12);
    }

    @include media($sm-up) {
      @include span-columns(3);
    }


    a {
      display: block;

    }
    img {
      display: block;

      @include media($xs) {

      }

      @include media($sm-up) {

      }
    }
  }
}
