header.header {
  background-color: $brand-primary;
  border-top: 3px solid #2F2F2F;
  box-shadow: $shadow-lvl-2;
  .header-inner {
    @include fixed-container;
    @include pad(0 $gutter/2);
    .logo {

      @include media($xs) {
        @include span-columns(12);
      }
      @include media($sm-up) {
        @include span-columns(3);
      }

      img {
        position: absolute;
        z-index: 1;
        @include media($xs) {
          width: 57%;
        }

        @include media($sm-up) {
          float: left;
          width: 190px;
          top: 9px;
        }
      }
    }
  }

}
