$sliding-menu-border-color: shade(#f8f8f8, 10%);
$sliding-menu-background: $brand-color-2;
$sliding-menu-background-hover: $brand-color-1;
$sliding-menu-font-color: #fff;
$sliding-menu-font-color-hover: #fff;
$sliding-menu-border: 1px solid shade($brand-color-2, 20%);

$mobile-menu-width: 220px;

$menu-trigger-color: $brand-color-1;

.mobile-menu-trigger {
  @include media($navigation-breakpoint-up) {
    display: none;
  }
  z-index: 1000;
  position: absolute;
  top: 12px;
  right: 15px;
  margin: 0;
  width: 60px;
  height: 45px;
  border: none;
  background: none;
  cursor: pointer;

  transform: rotate(0deg) scale(0.7);
  transition-property: transform;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  span {
    position: absolute;
    left: 0;
    display: block;
    width: 50%;
    height: 9px;
    border-radius: 9px;
    background: $menu-trigger-color;
    opacity: 1;

    transform: rotate(0deg);
    transition-property: transform;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;


    &:nth-child(even) {
      left: 50%;
      border-radius: 0 9px 9px 0;

      transition: all .25s ease-in-out;
    }

    &:nth-child(odd) {
      left:0px;
      border-radius: 9px 0 0 9px;

      transition: all .25s ease-in-out;
    }

    &:nth-child(1), &:nth-child(2) {
      top: 0px;

      transition: all .25s ease-in-out ;
    }

    &:nth-child(3), &:nth-child(4) {
      top: 18px;

      transition: all .25s ease-in-out ;
    }

    &:nth-child(5), &:nth-child(6) {
      top: 36px;

      transition: all .25s ease-in-out ;
    }
  }


  &.active span:nth-child(1),&.active span:nth-child(6) {
    transform: rotate(45deg);
    transition-property: transform;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
  }

  &.active span:nth-child(2),&.active span:nth-child(5) {
    transform: rotate(-45deg);
    transition-property: transform;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
  }

  &.active span:nth-child(1) {
    top: 7px;
    left: 5px;

    transition: all .25s ease-in-out ;
  }

  &.active span:nth-child(2) {
    top: 7px;
    left: calc(50% - 5px);

    transition: all .25s ease-in-out;
  }

  &.active span:nth-child(3) {
    left: 25%;
    opacity: 0;
  }

  &.active span:nth-child(4) {
    left: 25%;
    opacity: 0;
  }

  &.active span:nth-child(5) {
    top: 29px;
    left: 5px;

    transition: all .25s ease-in-out;
  }

  &.active span:nth-child(6) {
    top: 29px;
    left: calc(50% - 5px);

    transition: all .25s ease-in-out;
  }
}

.sliding-menu-content {
  z-index: 1000;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: $sliding-menu-background;
  box-shadow: 0;

  @include position(fixed, 0 auto 0 0);
  @include size($mobile-menu-width ,100%);
  transform: translateX(-$mobile-menu-width);
  transition: all .5s $authentic-motion-out;

  .open-submenu-icon {
    position: absolute;
    right: 0;
    padding: 8px;
    border: 0;
    background: none;
    color: $brand-color-1;
    font-size: 1.75rem;

    &:hover {
      background: none;
      color: $brand-color-1;
    }
  }

  .sub-menu {
    display: none;
    // height: 0;
    overflow: hidden;
    // @include transition (max-height 2s $authentic-motion);

    &.visible {
      // height: 100%;
      // @include transition (max-height 2s $authentic-motion);
    }

    li {
      background: shade($sliding-menu-background, 20%);

      .sub-menu {
        li {
          background: shade($sliding-menu-background, 40%);
        }
      }
    }
  }

  > #navigation-menu {
    margin-top: 82px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li a {
    display: block;
    padding: 1rem;
    border-bottom: $sliding-menu-border;
    color: $sliding-menu-font-color;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      background-color: $sliding-menu-background-hover;
      color: $sliding-menu-font-color-hover;
    }
  }

  &.is-visible {
    @include shadow-4dp();
    transition-timing-function: $authentic-motion-in;

    transform: translateX(0);
  }
}

.menu-screen {
  z-index: 1000;
  visibility: hidden;
  background: $sliding-menu-border-color;
  opacity: 0;

  @include position(fixed, 0 0 0 0);

  &.is-visible {
    visibility: visible;
    opacity: 0;
  }
}
