$sliding-menu-border-color: shade(#f8f8f8, 10%);
$sliding-menu-background: $brand-color-2;
$sliding-menu-background-hover: $brand-color-1;
$sliding-menu-font-color: #fff;
$sliding-menu-font-color-hover: #fff;
$sliding-menu-border: 1px solid shade($brand-color-2, 20%);

$mobile-menu-width: 220px;

$menu-trigger-color: $brand-color-1;

.mobile-menu-trigger {
  @include media($navigation-breakpoint-up) {
    display: none;
  }
  z-index: 1000;
  position: fixed;
  top: 1em;
  right: 1em;
  margin: 0;
  width: 60px;
  height: 45px;
  border: none;
  background: none;
  cursor: pointer;

  transform: rotate(0deg) scale(0.7);
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  span {
    position: absolute;
    left: 0;
    display: block;
    width: 50%;
    height: 9px;
    border-radius: 9px;
    background: $menu-trigger-color;
    opacity: 1;

    transform: rotate(0deg);
    transition-property: transform;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;


    &:nth-child(even) {
      left: 50%;
      border-radius: 0 9px 9px 0;

      transition: all .25s ease-in-out;
    }

    &:nth-child(odd) {
      left:0px;
      border-radius: 9px 0 0 9px;

      transition: all .25s ease-in-out;
    }

    &:nth-child(1), &:nth-child(2) {
      top: 0px;

      transition: all .25s ease-in-out ;
    }

    &:nth-child(3), &:nth-child(4) {
      top: 18px;

      transition: all .25s ease-in-out ;
    }

    &:nth-child(5), &:nth-child(6) {
      top: 36px;

      transition: all .25s ease-in-out ;
    }
  }


  &.active span:nth-child(1),&.active span:nth-child(6) {
    transform: rotate(45deg);
    transition-property: transform;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
  }

  &.active span:nth-child(2),&.active span:nth-child(5) {
    transform: rotate(-45deg);
    transition-property: transform;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
  }

  &.active span:nth-child(1) {
    top: 7px;
    left: 5px;

    transition: all .25s ease-in-out ;
  }

  &.active span:nth-child(2) {
    top: 7px;
    left: calc(50% - 5px);

    transition: all .25s ease-in-out;
  }

  &.active span:nth-child(3) {
    left: 25%;
    opacity: 0;
  }

  &.active span:nth-child(4) {
    left: 25%;
    opacity: 0;
  }

  &.active span:nth-child(5) {
    top: 29px;
    left: 5px;

    transition: all .25s ease-in-out;
  }

  &.active span:nth-child(6) {
    top: 29px;
    left: calc(50% - 5px);

    transition: all .25s ease-in-out;
  }
}

.headroom--not-top .mobile-menu-trigger {
  top: .3em;
}

.sliding-menu-content {
  z-index: 10000;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: $sliding-menu-background;
  box-shadow: 0;
  max-height: calc(100vh - 68px);
  position: absolute;
  top: 102px;
  width: 90%;
  left: 5%;
  transform: scale(.5);
  opacity: 0;
  transition: all .5s $authentic-motion-out;

  @include media($navigation-breakpoint-up) {
    display: none;
  }

  .open-submenu-icon {
    padding: 6px 14px;
    border-bottom: $sliding-menu-border;
    background: none;
    color: #fff;
    font-size: 1.75rem;
    i {
      transition: all .2s $curve;
      transition-delay: .1s;
    }

    &:hover {
      background: none;
      color: #fff;
    }

    &.is-expanded i {
      transform: rotate(90deg);
    }


  }

  .sub-menu {
    display: none;
    overflow: hidden;
    li {
      background: shade($sliding-menu-background, 20%);

      .sub-menu {
        li {
          background: shade($sliding-menu-background, 40%);
        }
      }
    }
  }

  > #navigation-menu {
    margin-top: 82px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    flex-wrap: wrap;
    a {
      flex: 1 1 auto;
      order: 1;
    }
    .open-submenu-icon {
      flex: 0 0 auto;
      order: 2;
    }
    ul {
      flex: 1 0 100%;
      order: 3;
    }
  }

  li a {
    display: block;
    padding: 1rem;
    border-bottom: $sliding-menu-border;
    color: $sliding-menu-font-color;
    // text-transform: uppercase;
    font-weight: 700;
    font-family: $header-font;

    &:hover {
      background-color: $sliding-menu-background-hover;
      color: $sliding-menu-font-color-hover;
    }
  }

  &.is-visible {
    @include shadow-4dp();
    transition-timing-function: $authentic-motion-in;

    transform: scale(1);
    opacity: 1;
  }
}

.menu-screen {
  z-index: 999;
  visibility: hidden;
  background: rgba($brand-color-2, .8);
  opacity: 0;
  transition: opacity 2s $curve;

  @include position(fixed, 0 0 0 0);

  &.is-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s $curve;
  }
}

.wrapper {
  &:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(#000, 0.65);
    z-index: 999;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    -webkit-backdrop-filter: blur(0px);
    transition: all .6s $curve;
  }
  &.active-mobile-menu:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(#000, 0.65);
    z-index: 999;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 1;
    -webkit-backdrop-filter: blur(3px);
    transition: all .6s $curve;
  }
}
