$sliding-menu-border-color: shade(#f8f8f8, 10%);
$sliding-menu-background: #f8f8f8;
$sliding-menu-color: $base-font-color;
$sliding-menu-border: 1px solid $sliding-menu-border-color;
$sliding-menu-background-hover: $brand-color-1;
$sliding-menu-color-hover: #fff;
$mobile-menu-width: 220px;

.lines-button {
  position: absolute;
  top: 5px;
  right: -30px;
  z-index: 9999999;
  display: inline-block;
  margin: 0 1em;
  padding: 20px;
  border: 0;
  border-radius: 3px;
  background: none;
  box-shadow: none;
  cursor: pointer;
  transition: .3s;
  transform: scale(.6);

  user-select: none;

  @include media($navigation-breakpoint-up) {
    display: none;
  }

  &:focus {
    outline: 0;
  }

  &:focus,
  &:hover {
    background: none;
    box-shadow: none;
  }

  span {
    display: block;
  }
}

.lines-button:hover {
  opacity: 1;
}

.lines-button:active {
  transition: 0;
}

.lines {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 6px;
  border-radius: 6px;
  background: #363636;
  transition: .2s cubic-bezier(.2, 0, .7, 1);
}

.lines:before,
.lines:after {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 60px;
  height: 6px;
  border-radius: 3px;
  background: #363636;
  content: '';
  transition: .2s cubic-bezier(.2, 0, .7, 1);
  transform-origin: .28571rem center;
}

.lines:before {
  top: 1rem;
}

.lines:after {
  top: -1rem;
}

.arrow-flip.active {
  .lines:before,
  .lines:after {
    width: 30px;
  }

  .lines:before {
    transform: translate(0, -13px) rotate(40deg);
  }

  .lines:after {
    transform: translate(0, 13px) rotate(-40deg);
  }
}

.sliding-menu-content {
  z-index: 999999;
  overflow-y: auto;
  background: $sliding-menu-background;
  box-shadow: 0;

  @include position(fixed, 0 auto 0 0);
  @include size($mobile-menu-width 100%);
  @include transform(translateX(-$mobile-menu-width));
  @include transition(all .5s $authentic-motion-out);
  -webkit-overflow-scrolling: touch;

  .open-submenu-icon {
    position: absolute;
    right: 0;
    padding: 8px;
    border: 0;
    background: none;
    color: $brand-color-1;
    font-size: 28px;

    &:hover {
      background: none;
      color: $brand-color-1;
    }
  }

  .sub-menu {
    display: none;
    // height: 0;
    overflow: hidden;
    // @include transition (max-height 2s $authentic-motion);

    &.visible {
      // height: 100%;
      // @include transition (max-height 2s $authentic-motion);
    }

    li {
      background: shade($sliding-menu-background, 5%);

      .sub-menu {
        li {
          background: shade($sliding-menu-background, 10%);
        }
      }
    }
  }

  > #navigation-menu {
    margin-top: 82px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li a {
    display: block;
    padding: 1rem;
    border-bottom: $sliding-menu-border;
    color: $sliding-menu-color;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      background-color: $sliding-menu-background-hover;
      color: $sliding-menu-color-hover;
    }
  }

  &.is-visible {
    box-shadow: $shadow-lvl-2;
    transition-timing-function: $authentic-motion-in;

    @include transform(translateX(0));
  }
}

.menu-screen {
  z-index: 999998;
  visibility: hidden;
  background: $sliding-menu-border-color;
  opacity: 0;

  @include position(fixed, 0 0 0 0);
  @include transition;

  &.is-visible {
    visibility: visible;
    opacity: 0;
  }
}
