.pagination,
.woocommerce-pagination {
  $pagination-border-color: $base-border-color;
  $pagination-border: 1px solid $pagination-border-color;
  $pagination-background: lighten($pagination-border-color, 10);
  $pagination-hover-background: lighten($pagination-background, 5);
  $pagination-color: $base-font-color;

  text-align: center;

  ul {
    display: block;
    text-align: center;
    padding: 0;

    li {
      display: inline;
      margin-right: 2px;
      &:last-child {
        margin-right: 0;
      }

      a,
      span {
        @extend %btn;
        @extend %btn-default;
        @extend %btn-subtle;

        &:hover,
        &:focus {

        }

        &:active {
        }
        &.current {
          @extend %btn-brand;
        }
      }
    }

    ul li {
      display: none;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        display: inline;
      }

      @include media($large-screen) {
        display: inline;
      }
    }
  }
}
