form.search {
  @include span-columns(12);
  margin-top: 5px;
  position: relative;
  border-color: #efefef;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;

  .search-input {
    @include span-columns(8);
    @include pad(8);
    border-radius: 3px;
    font-size: 1rem;
    width: 85%;
    margin: 0;
    border: 0;
    background: none;
    color: #777;
    box-shadow: none;
  }

  .search-submit {
    background: none;
    position: absolute;
    top: 0;
    right: 10px;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
    overflow: visible;
    width: auto;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;

    &:before {
      font-family: FontAwesome;
      color: rgba(0, 0, 0, .5);
      font-size: 1.4rem;
      line-height: 1.5;
    }
  }
}
