aside.footer-bar {
  @include section-wrapper(#fff, $gutter*3);

  .footer-bar-content {
    @include fixed-container;

    > .footer-bar-widget {
      @include span-columns(12);
      @include media($sm-screen) {
        @include span-columns(4);
      }
    }
  }
}

.widget ul a {
  text-decoration: none;
}

.widget-area {
  margin-bottom: $gutter;
}

.widget_search {
  // searchform has no height, this is a work around.
  margin-bottom: $gutter+em(36);
}
