// Brand Colors
$brand-primary: #ce2922;
$brand-secondary: #ce2922;

// Grays
$gray-dark-1: #4d4d4d;
$gray-dark-2: #222326;
$gray-dark-3: #141414;

$gray-light-1: #e6e6e6;
$gray-light-2: #e6e6e6;
$gray-light-3: #e6e6e6;

// Greens
$base-turquoise: #1abc9c;
$base-green-sea: #16a085;
$base-emerald: #2ecc71;
$base-nephritis: #27ae60;

// Blues
$base-peter-river: #3498db;
$base-belize-hole: #2980b9;
$base-wet-asphalt: #34495e;
$base-midnight-blue: #2c3e50;

// Purples
$base-amethyst: #9b59b6;
$base-wisteria: #8e44ad;

// Yellows
$base-sunflower: #f1c40f;

// Oranges
$base-orange: #f39c12;
$base-carrot: #e67e22;
$base-pumpkin: #d35400;

// Reds
$base-alizarin: #e74c3c;
$base-pomegranate: #c0392b;

// Grays
$base-clouds: #ecf0f1;
$base-silver: #bdc3c7;
$base-concrete: #95a5a6;
$base-asbestos: #7f8c8d;

// Aliases make colors easier to remember.

// Greens
$base-green-1: $base-turquoise;
$base-green-2: $base-green-sea;
$base-green-3: $base-emerald;
$base-green-4: $base-nephritis;

// Blues
$base-blue-1: $base-peter-river;
$base-blue-2: $base-belize-hole;
$base-blue-3: $base-wet-asphalt;
$base-blue-4: $base-midnight-blue;

// Purples
$base-purple-1: $base-amethyst;
$base-purple-2: $base-wisteria;

// Yellows
$base-yellow-1: $base-sunflower;

// Oranges
$base-orange-1: $base-orange;
$base-orange-2: $base-carrot;
$base-orange-3: $base-pumpkin;

// Refs
$base-red-1: $base-alizarin;
$base-red-2: $base-pomegranate;

// Grays
$base-gray-1: $base-clouds;
$base-gray-2: $base-silver;
$base-gray-3: $base-concrete;
$base-gray-4: $base-asbestos;
