fieldset {
  margin: 0 0 ($base-line-height/2);
  padding: $gutter;
  border: 1px solid $base-border-color;
  background: $grey-lightest;
}

input,
label,
select {
  display: block;
  font-size: 1rem;
  font-family: $body-font;
}

label {
  margin-bottom: $base-line-height/4;
  font-weight: bold;

  &.required:after {
    content: '*';
  }

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
  margin-bottom: $base-line-height/2;
  padding: $gutter/3 $gutter/2;
  width: 100%;
  border: 1px solid $form-border-color;
  border-radius: $form-border-radius;
  background-color: #fff;
  box-shadow: $form-box-shadow;
  font-size: 1rem;
  font-family: $body-font;

  @include box-sizing(border-box);
  @include transition(border-color);

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    outline: none;
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
  }
}

textarea {
  resize: vertical;
}

[type='search'] {
  @include appearance(none);
}

[type='checkbox'],
[type='radio'] {
  display: inline;
  margin-right: $base-line-height/4;
}

[type='file'] {
  margin-bottom: $base-line-height/2;
  padding-bottom: ($base-line-height/3);
  width: 100%;
}

select {
  margin-bottom: $base-line-height;
  max-width: 100%;
  width: auto;
}

.half-row {
  @include span-columns(12);
  @include media($md-up) {
    @include span-columns(6);
  }
}

.quarter-row {
  @include span-columns(12);
  @include media($md-up) {
    @include span-columns(3);
  }
}

.three-quarter-row {
  @include span-columns(12);
  @include media($md-up) {
    @include span-columns(9);
  }
}

.one-third-row {
  @include span-columns(12);
  @include media($md-up) {
    @include span-columns(4);
  }
}

.full-row {
  @include span-columns(12);
}

.last {
  @include media($md-up) {
    @include omega();
  }
}
