// Authentic Motion by Google (google.com/design)

// Motion with swift acceleration and gentle deceleration feels natural and delightful.
// Curve helper: http://cubic-bezier.com/

$authentic-motion-out: cubic-bezier(.35, 0, .35, 1);
$authentic-motion-in: cubic-bezier(.35, 0, .35, 1);
$authentic-motion: cubic-bezier(.2, 0, .7, 1);

$curve-out: $authentic-motion-out;
$curve-in: $authentic-motion-in;
$curve: $authentic-motion;

///////////////////////////////////////////////

// Shadows

// Shadows consist of two layers: a top shadow for depth and a bottom shadow for definition.

$shadow-lvl-1: 0 1px 3px 0 rgba(0, 0, 0, .17), 0 1px 2px 0 rgba(0, 0, 0, .24);
$shadow-lvl-2: 0 1px 3px 0 rgba(0, 0, 0, .20), 0 3px 7px 0 rgba(0, 0, 0, .22);
$shadow-lvl-3: 0 10px 11px 0 rgba(0, 0, 0, .19), 0 5px 5px 0 rgba(0, 0, 0, .23);
$shadow-lvl-4: 0 14px 19px 0 rgba(0, 0, 0, .20), 0 7px 6px 0 rgba(0, 0, 0, .17);
$shadow-lvl-5: 0 20px 22px 0 rgba(0, 0, 0, .22), 0 10px 8px 0 rgba(0, 0, 0, .16);

$depth: 0 1px 0 0 rgba(#fff, .2) inset, 0 -1px 0 0 rgba(#454545, .2) inset;

$shadow-lvl-1-depth: 0 1px 3px 0 rgba(0, 0, 0, .17), 0 1px 2px 0 rgba(0, 0, 0, .24), $depth;
$shadow-lvl-2-depth: 0 1px 3px 0 rgba(0, 0, 0, .20), 0 3px 7px 0 rgba(0, 0, 0, .22), $depth;
$shadow-lvl-3-depth: 0 10px 11px 0 rgba(0, 0, 0, .19), 0 5px 5px 0 rgba(0, 0, 0, .23), $depth;
$shadow-lvl-4-depth: 0 14px 19px 0 rgba(0, 0, 0, .20), 0 7px 6px 0 rgba(0, 0, 0, .17), $depth;
$shadow-lvl-5-depth: 0 20px 22px 0 rgba(0, 0, 0, .22), 0 10px 8px 0 rgba(0, 0, 0, .16), $depth;
///////////////////////////////////////////////
