ul {
  margin-bottom: $gutter / 2;
  padding-left: $gutter;
  list-style-type: disc;
}

ol {
  margin-bottom: $gutter / 2;
  padding-left: $gutter;
  list-style-type: decimal;
}

ol,
ul {
  &.no-style {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
