// Section Wrapper

@mixin section-wrapper($background-color, $padding) {
  background: $background-color;
  padding: $padding 0;
}


// Button

@mixin button-base($background:$brand-primary, $text-color:#fff) {
  background: shade($background, 0%);;
  color: $text-color;
  border: none;
  border-radius: 3px;
  padding: 12px 17px;
  font-weight: 600;
  line-height: 1;
  @include transition (all 0.5s curve);
  &:hover {
    background: shade($background, 10%);
    @include transition (all 0.5s curve);
  }
}

@mixin button-inverse($background:$brand-primary, $text-color:#fff) {
  background: none;
  color: shade($background, 0%);
  border: 2px solid $background;
  border-radius: 3px;
  padding: 10px 15px;
  font-weight: 600;
  line-height: 1;
  @include transition (all 0.5s curve);
  &:hover {
    color: shade($background, 10%);
    @include transition (all 0.5s curve);
  }
}
