// Section Wrapper

@mixin section-wrapper($background-color, $padding) {
  background: $background-color;
  padding: $padding 0;
}

@mixin btn($button-primary-color, $button-secondary-color, $raised) {
  background: transparent;
  border: none;
  border-radius: $button-border-radius;
  color: $button-primary-color;
  display: block;
  position: relative;
  height: $button-height;
  min-width: $button-min-width;
  padding: 0 $button-padding;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow, transform;
  transition: box-shadow 0.2s $animation-curve-fast-out-linear-in,
              background-color 0.2s $animation-curve-default,
              color 0.2s $animation-curve-default;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: $button-height;
  vertical-align: middle;

  &::-moz-focus-inner {
    border: 0;
  }

  &:hover {
    background-color: $grey-light;
    color: $button-primary-color;
  }

  &:focus:not(:active) {
    background-color: $grey-light;
  }

  &:active {
    background-color: $grey-light;
  }

  @if $raised {
    background: $button-primary-color;
    color: $button-secondary-color;
    &:hover {
      background: $button-primary-color;
      color: $button-secondary-color;
      @include shadow-3dp();
    }
    @include shadow-2dp();

    &:active {
      @include shadow-4dp();
      background-color: shade($button-primary-color, 5%);
    }

    &:focus:not(:active) {
      @include focus-shadow();
      background-color: shade($button-primary-color, 5%);
    }
  }
}
