// Sizes
$base-font-size: 16px;
$base-line-height: 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$computed-line-height: floor($base-font-size * $base-line-height); // ~20px
$base-border-radius: 3px;

// Colors

// Brand Colors
$brand-color-1: #4684B2;
$brand-color-2: #4684B2;
$brand-color-3: #4684B2;

// Grays
$grey-lightest : #fafafa;
$grey-lighter  : #e4e4e4;
$grey-light    : #cbcbcb;
$gray          : #aaaaaa;
$grey-dark     : #555555;
$grey-darker   : #333333;
$grey-darkest  : #222222;


// Flash Colors
$alert-color: #FFE46F; // A yellow/orange color
$error-color: #E9513C; // A red color
$notice-color: #91D2E1; // A Blue color
$success-color: #C8D95B; // A green color

// Light Flash Colors
$light-alert-color: tint($alert-color, 50%);
$light-error-color: tint($error-color, 50%);
$light-notice-color: tint($notice-color, 50%);
$light-success-color: tint($success-color, 50%);

// Background Color
$base-background-color: #fff;

// Font Colors
$base-font-color: #363636;
$base-accent-color: $brand-color-1;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $grey-light;

// Nice to have colors
$facebook-color: #3B5998;
$twitter-color: #4099FF;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), .7);
