// Brand Colors
$brand-primary: #CE2922;
$brand-secondary: #CE2922;

// Grays
$gray-dark-1: #4D4D4D;
$gray-dark-2: #222326;
$gray-dark-3: #141414;

$gray-light-1: #E6E6E6;
$gray-light-2: #E6E6E6;
$gray-light-3: #E6E6E6;

// Greens
$base-turquoise: #1ABC9C;
$base-green-sea: #16A085;
$base-emerald: #2ECC71;
$base-nephritis: #27AE60;

// Blues
$base-peter-river: #3498DB;
$base-belize-hole: #2980B9;
$base-wet-asphalt: #34495E;
$base-midnight-blue: #2C3E50;

// Purples
$base-amethyst: #9B59B6;
$base-wisteria: #8E44AD;

// Yellows
$base-sunflower: #F1C40F;

// Oranges
$base-orange: #F39C12;
$base-carrot: #E67E22;
$base-pumpkin: #D35400;

// Reds
$base-alizarin: #E74C3C;
$base-pomegranate: #C0392B;

// Grays
$base-clouds: #ECF0F1;
$base-silver: #BDC3C7;
$base-concrete: #95A5A6;
$base-asbestos: #7F8C8D;

// Aliases make colors easier to remember.

// Greens
$base-green-1: $base-turquoise;
$base-green-2: $base-green-sea;
$base-green-3: $base-emerald;
$base-green-4: $base-nephritis;

// Blues
$base-blue-1: $base-peter-river;
$base-blue-2: $base-belize-hole;
$base-blue-3: $base-wet-asphalt;
$base-blue-4: $base-midnight-blue;

// Purples
$base-purple-1: $base-amethyst;
$base-purple-2: $base-wisteria;

// Yellows
$base-yellow-1: $base-sunflower;

// Oranges
$base-orange-1: $base-orange;
$base-orange-2: $base-carrot;
$base-orange-3: $base-pumpkin;

// Refs
$base-red-1: $base-alizarin;
$base-red-2: $base-pomegranate;

// Grays
$base-gray-1: $base-clouds;
$base-gray-2: $base-silver;
$base-gray-3: $base-concrete;
$base-gray-4: $base-asbestos;
