// Star rating
.star-rating {
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1em;
  font-size: 1em;
  width: em(76);
  font-family: FontAwesome;

  &:before {
    content: '\f005\f005\f005\f005\f005';
    color: $base-silver;
    top: 0;
    left: 0;
    position: absolute;
  }

  span {
    overflow: hidden;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
  }

  span:before {
    content: '\f005\f005\f005\f005\f005';
    top: 0;
    position: absolute;
    left: 0;
    color: $base-sunflower;
  }
}

.woocommerce-product-rating {
  line-height: 2em;
  display: block;

  .star-rating {
    margin: .5em 4px 0 0;
  }
}

.products {
  .star-rating {
    display: block;
    margin: 0 0 .5em;
    float: none;
  }
}

.hreview-aggregate {
	
  .star-rating {
    margin: 10px 0 0;
  }
}
