.single-product {
    #container {
        @include secondthought-container;
        @include pad(0 $gutter/2);

        #content {
            @include span-columns(12);
        }
    }

    .images {
        @include media($xs) {
             @include span-columns(12);
        }
        @include media($sm) {
             @include span-columns(4);
        }
        @include media($md) {
             @include span-columns(4);
        }
        @include media($lg) {
             @include span-columns(4);
        }

        > a {
            display: block;

            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }

        .thumbnails a {
            @include media($xs) {
                 @include span-columns(6);
                @include omega(2n);
            }
            @include media($sm) {
                 @include span-columns(4);
                @include omega(3n);
            }
            @include media($md) {
                 @include span-columns(4);
                @include omega(3n);
            }
            @include media($lg) {
                 @include span-columns(3);
                @include omega(4n);
            }
        }
    }

    .entry-summary {
        @include media($xs) {
             @include span-columns(12);
            @include omega;
        }
        @include media($sm) {
             @include span-columns(8);
            @include omega;
        }
        @include media($md) {
             @include span-columns(8);
            @include omega;
        }
        @include media($lg) {
             @include span-columns(8);
            @include omega;
        }

        .product_title {
            margin: 0 0 2rem;
        }

        [itemprop="description"] {
            margin-bottom: 2rem;
        }

        .woocommerce-review-link {
            display: block;
            margin: 1em 0;
        }

        .cart {
            margin-bottom: 1rem;
        }

        .woocommerce-product-rating {
            margin-bottom: 1rem;

            .star-rating {
                float: left;
                margin-right: 0.5em;
            }

            .woocommerce-review-link {
                display: block;
                margin: 1em 0;
                font-size: 0.875em;
                line-height: 1.3;
            }
        }

        .price {
            font-size: 1.75rem;
            margin-bottom: 2rem;
            font-weight: 700;

            del {
                color: tint($base-font-color, 50%);
            }

            ins {
                text-decoration: none;
            }
        }
    }

    .woocommerce-tabs {
        margin: 2em 0 0;

        .tabs {
            margin: 0;
            padding: 0;
            list-style: none;
            @include clearfix();
            border-top: 1px solid rgba($brand-color-1, .2);
            display: block;

            li {
                float: left;
                margin-right: $gutter;
                list-style: none;
                display: block;

                a {
                    display: block;
                    border-top: 2px solid rgba($brand-color-1, 0);
                    padding: 0.5em 1em;
                }

                &.active a {
                    border-top: 2px solid $brand-color-1;
                }

            }
        }

        .panel {
            margin-top: 30px;
        }
    }

    .variations_button {
        margin-bottom: $gutter/2;
    }

    #submit,
    .button {
        @extend %button-base;
        @extend %button-raised;
    }

    .related.products,
    .upsells.products,
    .woocommerce-tabs {
        @include span-columns(12);
    }

    // Reviews

    #reviews {
        h2 {
            margin-bottom: 0.75rem;
        }

        .commentlist {
            margin-bottom: 2rem;
            list-style: none;
            padding: 0;

            li {
                padding-bottom: 1.618rem;
                background: none;

                &:after {
                    display: table;
                    clear: both;
                    content: '';
                }
            }
        }

        .comment {
            border-bottom: 1px solid rgba($brand-color-1, .2);
        }

        .comment_container {
            padding: 20px 0;
        }

        .avatar {
            float: left;
            height: auto;
            background: #fff;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
            @include span-columns(1);
        }

        .comment-text {
            @include span-columns(11);

            p:last-child {
                margin-bottom: 0;
            }
        }

        .star-rating {
            float: right;
        }
    }

    #fancybox-outer {
        padding: 20px;

        #respond {
            margin-top: 0;
        }
    }

    h2 {
        font-size: 1.75rem;
    }

    .comment-reply-title {
        font-size: 1.75rem;
    }
}
